<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Slider 1</title>
</head>
<body>
    <div class="slider">
        <div class="image-container">
            <div>
                <img class="arrow-left" src="img/array-left.svg" alt="&#8592;">
            </div>
            <div class="image">
                <div class="image_title">
                    <span class="title-image-text">
                    </span>
                </div>
                <div class="image_desc">
                    <span class="desc-image-text">
                    </span>
                </div>
            </div>
            <div>
                <img class="arrow-right" src="img/array-right.svg" alt="&#8593;">
            </div>
        </div>
        <div class="dotteds">
            <div class="dot-img-1 dot-img active"></div>
            <div class="dot-img-2 dot-img"></div>
            <div class="dot-img-3 dot-img"></div>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>