<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт прям пушка!</title>
</head>
<body>
<% include blocks/header.ejs %>
<section>
    <h2>it! IS! INDEEEX!</h2>
</section>
</body>
</html>