div {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

.sheet {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}

.sheet p {
    color: #2f2f2f;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 10px;
    font-size: 26px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0 20px;
}

.row-el {
    display: flex;
    align-content: baseline;
    justify-content: center;
}

.row-el > * {
    width: 25px;
    height: 25px;
    border: 3px solid #2f2f2f;
    margin: 2px;
    border-radius: 50%;
    box-shadow: rgba(47,47,47, 0.5) 10px 0 20px;
}

.active {
    background: #2f2f2f;
}

.button {
    font-weight: 600;
    margin: 20px auto 20px;
    width: 80px;
    height: 50px;
    background: #2f2f2f;
    border-radius: 25px;
    text-align: center;
    padding-top: 15px;
    color: #f2f2f2;
    font-family: "Courier New", Courier, monospace;
}